:root {
    --header-color: rgb(46, 57, 87);
    --header-shadow: rgba(46, 57, 87, 0.308);
    --button-color: rgba(46, 57, 87, 0.308);
    --button-color-hover: #fff;
    --logo-color: #fff;
    --input-color-onfocus: #1976d2;
    --black-color: #000;
    --sidebar-color: rgba(0, 255, 255, 0.267)
}